body {
    font-family: "Montserrat", sans-serif;
}

header {
    padding: 20px 0;
    background-color: #AAAAAA;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto; 
}
nav {
    position: absolute;
    top: 130px;
    right: 0;
    text-shadow: 4px 4px 3px rgba(95, 64, 27, 0.514);
}
nav li{
    display: inline;
    margin-left: 10px ;
    
}

nav a {
    text-transform: uppercase;
    color: Black;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: overline;
}

nav a:hover {
    color: rgb(141, 92, 1);
    text-decoration: underline;
}



.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%; 
    padding: 30px 20px;
    box-sizing: border-box;  
    border: 2px double #474D51;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: rgb(141, 92, 1);
    border-style: inset;
}

.produtos li:active {
    border-style: outset
}

.produtos li:hover h2 {
    font-size: 27px;
}

.produtos h2 {
    font-size: 25px;
    font-weight: bold;
}

.descricao-produto {
    font-size: 18px;
}

.preco {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.produtos li:hover .preco {
    font-weight: lighter;
}

footer {
    text-align: center;
    padding: 40px 0px;
    background: url("../_imagens/bg.jpg");
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

.main-contatos {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend, form fieldset {
    display: block;
    font-size: 18px;
    margin: 20px 0 5px;
}

.input-padrao {
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 50%
}

select {
    padding: 5px 0;
    width: 10%;
    cursor: pointer;
}

.checkbox {
    margin: 10px 0;
}

.enviar {
    width: 40%; 
    padding: 10px 0;
    background-color: grey;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    transition: 1s all;
    cursor: pointer;

}
.enviar:hover {
    background-color: rgb(44, 42, 42);
    color: rgb(199, 198, 198);
    transform: scale(1.05);
}

table {
    margin: 20px 0 40px;
    width: 40%;
}

thead {
    background-color: rgb(136, 133, 133);
    color: white;
    font-weight: bolder;
}

td, th {
    border: 1px groove black;
    padding: 5px 0 0;
    text-align: center;
}

/* ------------------------- */
/* Página Inicial */




.banner {
    width: 100%;
}

.titulo-secoes {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 1em;
    clear: left;
    text-shadow: 3px 3px 3px rgba(39, 39, 39, 0.514);
}

.titulo-secoes:first-letter {
    font-size: 1.2em;
}

.titulo-secoes:before {
    content: "- ";
}

.titulo-secoes:after {
    content: " -"
}

.utensilio {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
}
.principal {
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal  em {
    font-style: italic;
}
.mapa {
    padding: 3em 0;
    background: linear-gradient( #FEFEFE 10%, grey );
   
}

.mapa-content {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background-color: grey;
    
}
.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    margin-top: 45px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5em;
}

.itens:before {
    content: "- ";
    font-weight: bolder;
}

/* .itens:first-child {
    font-weight: bold;
} */

.itens:nth-child(2n){
    background-color: rgba(110, 110, 110, 0.5);
}


.itens:hover {
    font-weight: bolder;
    transform: scale(1.01);
    border-bottom: 0.5px solid black;
    transition: 1s transform;

}

.imagem-beneficios {
    width: 60%;
    transition: 400ms;
    box-shadow: 8px 8px 10px rgba(95, 64, 27, 0.514);
}

.imagem-beneficios:hover {
    opacity: 50%;
}


.video {
    width: 560px;
    height: 315px;
    margin: 2em auto;

}



/* img + ou ~ p {
    background: black;
} */

/* .principal p:not(#missao) {
    background-color: orange;
} */

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-content, .video, .produtos, .main-contatos {
        width: auto
    }

    h1 {
        text-align: center;
        position: static;
    }

    nav {
        position: static;
        text-align: center;
    }

    nav li {
        margin: 1px;
        font-size: 0.8em;
        font-weight: bold;
    }

    .titulo-secoes {
        font-size: 1.8em;
        text-shadow: none;
    }

    .principal, .mapa, .beneficios {
        padding: 15px;
    }

    .utensilio {
        width: 35%
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
        text-align: center;
        margin-bottom: 10px ;
    }

    .video {
        height: 230px;
    }

    /* --- PRODUTOS --- */

    .produtos li {
        display: inline-block;
        width: 90%;
        margin: 10px;
        
    }

    .produtos {
        text-align: center;
    }
    
    /* --- CONTATOS --- */

    .main-contatos {
        margin: 0 0 0 15px;
    }

    form label, input {
        margin-top: 10px;
    }

    .enviar, .checkbox, .input-padrao, legend {
        width: 90%;
    }

    select {
        width: 30%
    }

    table {
        width: 90%;
        text-align: center;
    }
}