body {
    font-family: "Montserrat", sans-serif;
}

header {
    padding: 20px 0;
    background-color: #AAAAAA;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto; 
}
nav {
    position: absolute;
    top: 130px;
    right: 0;
}
nav li{
    display: inline;
    margin-left: 15px;
    
}

nav a {
    text-transform: uppercase;
    color: Black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: overline;
}

nav a:hover {
    color: rgb(141, 92, 1);
    text-decoration: underline;
}



.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%; 
    padding: 30px 20px;
    box-sizing: border-box;  
    border: 2px double #474D51;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: rgb(141, 92, 1);
    border-style: inset;
}

.produtos li:active {
    border-style: outset
}

.produtos li:hover h2 {
    font-size: 27px;
}

.produtos h2 {
    font-size: 25px;
    font-weight: bold;
}

.descricao-produto {
    font-size: 18px;
}

.preco {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.produtos li:hover .preco {
    font-weight: lighter;
}

footer {
    text-align: center;
    padding: 40px 0px;
    background: url("../_imagens/bg.jpg");
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

.main-contatos {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend, form fieldset {
    display: block;
    font-size: 18px;
    margin: 20px 0 5px;
}

.input-padrao {
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 50%
}

select {
    padding: 5px 0;
    width: 10%;
    cursor: pointer;
}

.checkbox {
    margin: 10px 0;
}

.enviar {
    width: 40%; 
    padding: 10px 0;
    background-color: grey;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    transition: 1s all;
    cursor: pointer;

}
.enviar:hover {
    background-color: rgb(44, 42, 42);
    color: rgb(199, 198, 198);
    transform: scale(1.05);
}

table {
    margin: 20px 0 40px;
    width: 40%;
}

thead {
    background-color: rgb(136, 133, 133);
    color: white;
    font-weight: bolder;
}

td, th {
    border: 1px groove black;
    padding: 5px 0 0;
    text-align: center;
}

/* ------------------------- */
/* Página Inicial */
main {
    width: 940px;
    margin: 0 auto;
}



.banner {
    width: 100%;
}

.titulo-secoes {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 1em;
    clear: left;
}

.utensilio {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
}
.principal {
    padding: 3em 0;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal  em {
    font-style: italic;
}
.mapa {
    padding: 3em 0;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.imagembeneficios {
    width: 60%;
}

.video {
    width: 560px;
    margin: 2em auto;

}
