#banner {
	width:100%;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

.titulo-principal {
	padding-left: 20px;
}

p {
	text-align: center;
}

em strong {
	color: #FF0000;
}

#missao {
	font-size: 20px
}

.beneficios {
	background: #FFFFFF;
	padding: 0% 5%;
	padding-bottom: 30px;
}

.titulo-centralizado {
	text-align: center;
	margin: 30px;
	font-size: 30px;
	font-weight: bolder;
}

.itens {
	font-style: italic;
	margin: 20px;
}


ul {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin: 0% 9%;
	border: double;
	border-color: black;
}

.imagembeneficios {
	width: 50%;

}